<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Conta</title>

    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/config.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

    <form id="form" action="/config" method="post" enctype="multipart/form-data">

        <img src="data:image/<%=img.contentType%>;base64, <%=img.data.toString('base64')%>" id="img" class="labelImg" onclick="clickLabel()">
        <input type="file" name="inputImg" id="inputImg">

        <div id="info">

            <label for="name">Nome: </label>
            <input type="text" name="name" id="name" value="<%=user.name%>" minlength="3" maxlength="50" required>
 
            <label for="lastName">Sobrenome: </label>
            <input type="text" name="lastName" id="lastName" value="<%=user.lastName%>" minlength="3" maxlength="50" required>
    
            <label for="user">Usuário: </label>
            <input type="text" name="user" id="user" value="<%=user.user%>" minlength="3" maxlength="50" required>
    
            <label for="phone">Número: </label>
            <input type="tel" name="phone" id="phone" min="11" max="15"  value="<%=user.phone%>">
    
            <label>Email: </label>
            <p id="email"><%=user.email%></p>

            <span onclick="showMsnEmail()" id="iconError" class="material-icons"> error </span>

        </div>

        <button type="button" id="button" class="btn btn-success btn-save">Salvar</button>
        <a href="/rooms" class="btn btn-secondary btn-rooms">Salas</a>

    </form>

    <script src="js/config.js"></script>
</body>
</html>