<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= room.name %> </title>

    <link rel="shortcut icon" href="../../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/configRoom.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>


    <form id="form" action="/rooms/<%=room._id%>/update" method="post" enctype="multipart/form-data">

        <span onclick="back()" id="back" class="material-icons"> arrow_back_ios </span>

        <% if(admin==true){ %>
            <img src="data:image/<%=img.contentType%>;base64, <%=img.data.toString('base64')%>" id="img" class="labelImg" onclick="clickLabel()">
            <input type="file" name="inputImg" id="inputImg">
        <% } else { %>
            <img src="data:image/<%=img.contentType%>;base64, <%=img.data.toString('base64')%>"class="labelImg">
        <% } %>


        <% if(admin==true){ %>
            <input type="text" name="name" id="name" class="form-control" value="<%= room.name %>">
        <% } else { %>
            <p class="form-control"> <%= room.name %> </p>
        <% } %>

        <ul id="users" class="bg-light mt-3 rounded">

            <% if(admin==true){ %>
                <% users.forEach( user => { %>
                    <li class="pt-1 pb-1 list-group-item"><span onclick="redirectUser('<%=user._id%>')"><%= user.user %></span><span id="<%= user._id %>" class="material-icons float-right text-danger " onclick="remove(this)"> highlight_off </span></li>
                 <% } ) %>
            <% } else { %>
                <% users.forEach( user => { %>
                    <li class="pt-1 pb-1 list-group-item"><span onclick="redirectUser('<%=user._id%>')"><%=user.user%></span></li>
                <% } ) %>
            <% } %>

        </ul>

        <div class="d-flex justify-content-end aling-items-center w-100 pr-3 text-primary"> <p class="mr-2" id="link" onclick="copyLink()">copiar link de convite</p> <span id="btnCopy" class="material-icons" onclick="copyLink()"> content_copy </span> </div>

        <p id="infoCopy"> Link copiado! </p>

        <div class="p-4 w-100">

            <button onclick="exit()" type="button" class="btn btn-danger">SAIR</button>

            <% if(admin==true){ %>
                <button class="btn btn-success float-right">ATUALIZAR</button>
            <% } %>

        </div>

    </form>



    <script src="../../js/configRoom.js"></script>
</body>
</html>