<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= room.name %> </title>

    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/room.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

    

    <section id="screnn">

        <header>

            <span onclick="back()" id="iconBack" class="material-icons mr-3 ml-3"> arrow_back_ios </span>
            <h2 onclick="configRoom()"> <%= room.name %> </h2>
            <img onclick="configRoom()" src="data:image/<%=img.contentType%>;base64, <%=img.data.toString('base64')%>" alt="" class="mr-3 ml-3">

        </header>

        <ul id="messages">



            <% msgs.forEach( (msg) => { %>

                
                <% if(msg.id_user == user){ %>
                
                    <li class="msgUser"><div>
    
                <% } else { %>

                    <li> <div>

                <% } %>

                    <% let nameUser = users.filter( user => user.user._id == msg.id_user) %>

                    <h5><%=nameUser[0].user.user%></h5>
                    <p><%=msg.msg%></p>

                </div></li>
            
            <% }) %>


        </ul>

        <div id="msg" class="pt-2 pb-2">

            <input class="form-control ml-2" type="text" id="txt" placeholder="Digite sua menssagem" autocomplete="off">

            <button id="send" type="button" class="btn btn-secondary ml-2 mr-2 float-right" onclick="sendMsg()">Enviar</button>

        </div>

    </section>


    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/room.js"></script>
</body>
</html>